target
.classpath
.project
.settings
.DS_Store
.metadata
bin
application.properties
Dockerfile2
Dockerfile3
nightwatch/
src/test/resources/cucumber.out.xml
vagrant/Dockerfile3
startup.sh
.idea/
*.iml
*.log
ssl_wallet/
